DATABASE_URL="postgresql://postgres:password@localhost:5432/hr_test?schema=public"
JWT_SECRET=your_jwt_secret
PORT=3000
CLIENT_URL=http://localhost:5173
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

# VNPAY CONFIG
VNP_TMNCODE=YOUR_VNP_TMNCODE
VNP_HASHSECRET=YOUR_VNP_HASHSECRET
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5173/payment-return
