DATABASE_URL="postgresql://postgres:password@localhost:5432/hr_test?schema=public"
JWT_SECRET=your_jwt_secret
PORT=3000
CLIENT_URL=http://localhost:5173
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
SERVER_URL=http://localhost:3000

# MOMO CONFIG (TEST)
MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=F8BBA842ECF85
MOMO_SECRET_KEY=K951B6PE1waDMi640xX08PD3vg6EkVlz
MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_REQUEST_TYPE=payWithMethod
MOMO_REDIRECT_URL=http://localhost:5173/payment-return
MOMO_IPN_URL=http://localhost:3000/payments/momo/ipn
MOMO_PARTNER_NAME=TechStore
MOMO_STORE_ID=TechStoreLocal
